[package]
name = "lemmy_db_views"
version = "0.15.4-rc.1"
edition = "2018"
description = "A link aggregator for the fediverse"
license = "AGPL-3.0"
homepage = "https://join-lemmy.org/"
documentation = "https://join-lemmy.org/docs/en/index.html"

[lib]
doctest = false

[dependencies]
lemmy_db_schema = { version = "=0.15.4-rc.1", path = "../db_schema" }
diesel = { version = "1.4.8", features = ["postgres","chrono","r2d2","serde_json"] }
serde = { version = "1.0.131", features = ["derive"] }
tracing = "0.1.29"
url = "2.2.2"

[dev-dependencies]
serial_test = "0.5.1"
