version: '3.3'

services:

  lemmy:
    image: lemmy-dev:latest
    ports:
      - "8536:8536"
    restart: always
    environment:
      - RUST_LOG="warn,lemmy_server=debug,lemmy_api=debug,lemmy_api_common=debug,lemmy_api_crud=debug,lemmy_apub=debug,lemmy_db_queries=debug,lemmy_db_schema=debug,lemmy_db_views=debug,lemmy_db_views_actor=debug,lemmy_db_views_moderator=debug,lemmy_routes=debug,lemmy_utils=debug,lemmy_websocket=debug"
    volumes:
      - ../lemmy.hjson:/config/config.hjson
    depends_on: 
      - pictrs
      - postgres

  lemmy-ui:
    image: dessalines/lemmy-ui:dev
    ports:
      - "1235:1234"
    restart: always
    environment:
      - LEMMY_INTERNAL_HOST=lemmy:8536
      - LEMMY_EXTERNAL_HOST=localhost:8536
      - LEMMY_HTTPS=false
    depends_on: 
      - lemmy

  postgres:
    image: postgres:12-alpine
    ports:
      # use a different port so it doesnt conflict with postgres running on the host
      - "5433:5432"
    environment:
      - POSTGRES_USER=lemmy
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lemmy
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
    restart: always

  pictrs:
    image: asonix/pictrs:v0.2.6-r2
    ports: 
      - "8537:8080"
    user: 991:991
    volumes:
      - ./volumes/pictrs:/mnt
    restart: always
