version: '3.3'

services:
  nginx:
    image: nginx:1-alpine
    ports:
      - "1236:1236"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    restart: always
    depends_on:
      - pictrs
      - lemmy-ui

  lemmy:
    image: lemmy-dev:latest
    ports:
      - "8536:8536"
      - "6669:6669"
    restart: always
    environment:
      - RUST_LOG="warn,lemmy_server=debug,lemmy_api=debug,lemmy_api_common=debug,lemmy_api_crud=debug,lemmy_apub=debug,lemmy_db_schema=debug,lemmy_db_views=debug,lemmy_db_views_actor=debug,lemmy_db_views_moderator=debug,lemmy_routes=debug,lemmy_utils=debug,lemmy_websocket=debug"
    volumes:
      - ../lemmy.hjson:/config/config.hjson
    depends_on: 
      - pictrs
      - postgres
      - otel

  lemmy-ui:
    image: dessalines/lemmy-ui:0.16.5
    restart: always
    environment:
      - LEMMY_INTERNAL_HOST=lemmy:8536
      - LEMMY_EXTERNAL_HOST=localhost:1234
      - LEMMY_HTTPS=false
      - LEMMY_UI_DEBUG=true
    depends_on: 
      - lemmy

  postgres:
    image: postgres:14-alpine
    ports:
      # use a different port so it doesnt conflict with postgres running on the host
      - "5433:5432"
    environment:
      - POSTGRES_USER=lemmy
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=lemmy
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
    restart: always

  pictrs:
    image: asonix/pictrs:0.3.1
    user: 991:991
    environment:
      - PICTRS_OPENTELEMETRY_URL=http://otel:4137
      - PICTRS__API_KEY=API_KEY
    ports:
      - "6670:6669"
      - "8080:8080"
    volumes:
      - ./volumes/pictrs:/mnt
    restart: always
    depends_on:
      - otel

  otel:
    image: otel/opentelemetry-collector:latest
    command: --config otel-local-config.yaml
    ports:
      - "4317:4317"
    volumes:
      - type: bind
        source: ./otel.yml
        target: /otel-local-config.yaml
    restart: always
    depends_on:
      - jaeger

  jaeger:
    image: jaegertracing/all-in-one:1
    ports:
      - "14250:14250"
      # To view traces, visit http://localhost:16686
      - "16686:16686"
    restart: always
