# SPDX-FileCopyrightText: 2019-2022 2019 Felix Ableitner, <me@nutomic.com> et al.
#
# SPDX-License-Identifier: AGPL-3.0-only

# build folders and similar which are not needed for the docker build
target
docker
api_tests
ansible
tests
*.sh
