body {
  font-family: 'Open Sans', sans-serif;
}

.pointer {
  cursor: pointer;
}

.upvote:hover {
 color: var(--info);
}

.downvote:hover {
  color: var(--danger);
}

.form-control, .form-control:focus {
  background-color: var(--secondary);
  color: #fff;
}

.custom-select {
  color: #fff;
  background-color: var(--secondary);
}
