[package]
name = "lemmy_routes"
publish = false
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
lemmy_db_views_post = { workspace = true, features = ["full"] }
lemmy_db_views_local_user = { workspace = true, features = ["full"] }
lemmy_db_views_inbox_combined = { workspace = true, features = ["full"] }
lemmy_db_views_person_content_combined = { workspace = true, features = [
  "full",
] }
lemmy_db_views_site = { workspace = true, features = ["full"] }
lemmy_utils = { workspace = true, features = ["full"] }
lemmy_db_schema = { workspace = true }
lemmy_api_common = { workspace = true, features = ["full"] }
lemmy_db_schema_file = { workspace = true }
activitypub_federation = { workspace = true }
actix-web = { workspace = true, features = ["cookies"] }
anyhow = { workspace = true }
chrono = { workspace = true }
futures = { workspace = true }
reqwest = { workspace = true, features = ["stream"] }
reqwest-middleware = { workspace = true }
serde = { workspace = true }
url = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true }
futures-util.workspace = true
http.workspace = true
diesel.workspace = true
diesel-async.workspace = true
clokwerk = "0.4.0"
prometheus = { version = "0.13.4", features = ["process"] }
rss = "2.0.11"
actix-web-prom = "0.9.0"
actix-cors = "0.7.0"

[dev-dependencies]
pretty_assertions.workspace = true
serial_test.workspace = true
