[package]
name = "lemmy_db_schema"
version = "0.16.3-rc.1"
edition = "2021"
description = "A link aggregator for the fediverse"
license = "AGPL-3.0"
homepage = "https://join-lemmy.org/"
documentation = "https://join-lemmy.org/docs/en/index.html"

[lib]
name = "lemmy_db_schema"
path = "src/lib.rs"
doctest = false

[dependencies]
lemmy_utils = { version = "=0.16.3-rc.1", path = "../utils" }
lemmy_apub_lib = { version = "=0.16.3-rc.1", path = "../apub_lib" }
diesel = { version = "1.4.8", features = ["postgres","chrono","r2d2","serde_json"] }
diesel_migrations = "1.4.0"
chrono = { version = "0.4.19", features = ["serde"] }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = { version = "1.0.79", features = ["preserve_order"] }
url = { version = "2.2.2", features = ["serde"] }
diesel-derive-newtype = "0.1.2"
regex = "1.5.5"
once_cell = "1.10.0"
strum = "0.24.0"
strum_macros = "0.24.0"
sha2 = "0.10.2"
bcrypt = "0.12.1"

[dev-dependencies]
serial_test = "0.6.0"
