[package]
name = "lemmy_utils"
version = "0.16.5"
edition = "2021"
description = "A link aggregator for the fediverse"
license = "AGPL-3.0"
homepage = "https://join-lemmy.org/"
documentation = "https://join-lemmy.org/docs/en/index.html"
rust-version = "1.57"

[lib]
name = "lemmy_utils"
path = "src/lib.rs"
doctest = false

[dependencies]
regex = "1.5.5"
chrono = { version = "0.4.19", features = ["serde", "clock"], default-features = false }
lettre = "0.10.0-rc.7"
tracing = "0.1.32"
tracing-error = "0.2.0"
itertools = "0.10.3"
rand = "0.8.5"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = { version = "1.0.79", features = ["preserve_order"] }
comrak = { version = "0.12.1", default-features = false }
once_cell = "1.10.0"
openssl = "0.10.38"
url = { version = "2.2.2", features = ["serde"] }
actix-web = { version = "4.0.1", default-features = false, features = ["rustls"] }
anyhow = "1.0.56"
reqwest-middleware = "0.1.5"
strum = "0.24.0"
strum_macros = "0.24.0"
futures = "0.3.21"
diesel = "1.4.8"
http = "0.2.6"
deser-hjson = "1.0.2"
smart-default = "0.6.0"
jsonwebtoken = "8.0.1"
doku = { version = "0.12.0", features = ["url-2"] }
uuid = { version = "0.8.2", features = ["serde", "v4"] }
html2text = "0.3.1"
rosetta-i18n = "0.1.2"
parking_lot = "0.12.0"

[build-dependencies]
rosetta-build = "0.1.2"
