[package]
name = "lemmy_utils"
version.workspace = true
edition.workspace = true
description.workspace = true
license.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true

[lib]
name = "lemmy_utils"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "lemmy_util_bin"
path = "src/main.rs"
required-features = ["full"]

[lints]
workspace = true

[features]
full = [
  "ts-rs",
  "diesel",
  "rosetta-i18n",
  "actix-web",
  "reqwest-middleware",
  "tracing",
  "actix-web",
  "serde_json",
  "anyhow",
  "http",
  "deser-hjson",
  "regex",
  "urlencoding",
  "doku",
  "url",
  "smart-default",
  "enum-map",
  "futures",
  "tokio",
  "html2text",
  "lettre",
  "uuid",
  "itertools",
  "markdown-it",
  "moka",
]

[package.metadata.cargo-shear]
ignored = ["http"]

[dependencies]
regex = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }
itertools = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true, optional = true }
url = { workspace = true, optional = true }
actix-web = { workspace = true, optional = true }
anyhow = { workspace = true, optional = true }
reqwest-middleware = { workspace = true, optional = true }
strum = { workspace = true }
futures = { workspace = true, optional = true }
diesel = { workspace = true, optional = true, features = ["chrono"] }
http = { workspace = true, optional = true }
doku = { workspace = true, features = ["url-2"], optional = true }
uuid = { workspace = true, optional = true, features = ["v4"] }
rosetta-i18n = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
urlencoding = { workspace = true, optional = true }
html2text = { version = "0.14.0", optional = true }
deser-hjson = { version = "2.2.4", optional = true }
smart-default = { version = "0.7.1", optional = true }
lettre = { version = "0.11.12", default-features = false, features = [
  "builder",
  "smtp-transport",
  "tokio1-rustls-tls",
], optional = true }
markdown-it = { version = "0.6.1", optional = true }
ts-rs = { workspace = true, optional = true }
enum-map = { version = "2.7", optional = true }
cfg-if = "1"
clearurls = { version = "0.0.4", features = ["linkify"] }
markdown-it-block-spoiler = "1.0.1"
markdown-it-sub = "1.0.1"
markdown-it-sup = "1.0.1"
markdown-it-ruby = "1.0.1"
markdown-it-footnote = "0.2.0"
moka = { workspace = true, optional = true }

[dev-dependencies]
pretty_assertions = { workspace = true }

[build-dependencies]
rosetta-build = { version = "0.1.3", default-features = false }
