[package]
name = "lemmy_api_common"
version = "0.16.2-rc.3"
edition = "2021"
description = "A link aggregator for the fediverse"
license = "AGPL-3.0"
homepage = "https://join-lemmy.org/"
documentation = "https://join-lemmy.org/docs/en/index.html"

[lib]
name = "lemmy_api_common"
path = "src/lib.rs"
doctest = false

[dependencies]
lemmy_db_views = { version = "=0.16.2-rc.3", path = "../db_views" }
lemmy_db_views_moderator = { version = "=0.16.2-rc.3", path = "../db_views_moderator" }
lemmy_db_views_actor = { version = "=0.16.2-rc.3", path = "../db_views_actor" }
lemmy_db_schema = { version = "=0.16.2-rc.3", path = "../db_schema" }
lemmy_utils = { version = "=0.16.2-rc.3", path = "../utils" }
serde = { version = "1.0.131", features = ["derive"] }
diesel = "1.4.8"
actix-web = { version = "4.0.0", default-features = false, features = ["cookies"] }
chrono = { version = "0.4.19", features = ["serde"] }
serde_json = { version = "1.0.72", features = ["preserve_order"] }
tracing = "0.1.29"
url = "2.2.2"
itertools = "0.10.3"
rosetta-i18n = "0.1"
