---
- hosts: all
  vars:
    lemmy_docker_image: 'lemmy:dev'

  # Install python if required
  # https://www.josharcher.uk/code/ansible-python-connection-failure-ubuntu-server-1604/
  gather_facts: False
  pre_tasks:
    - name: check lemmy_base_dir
      fail:
        msg: "`lemmy_base_dir` is unset. if you are upgrading from an older version, add `lemmy_base_dir=/lemmy` to your inventory file."
      when: lemmy_base_dir is not defined

    - name: install python for Ansible
      raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal python-setuptools)
      args:
        executable: /bin/bash
      register: output
      changed_when: output.stdout != ''
    - setup: # gather facts

  tasks:
  - name: install dependencies
    apt:
      pkg:
        - 'nginx'
        - 'docker-compose'
        - 'docker.io'
        - 'certbot'
        - 'python-certbot-nginx'

  - name: request initial letsencrypt certificate
    command: certbot certonly --nginx --agree-tos --cert-name '{{ domain }}' -d '{{ domain }}' -m '{{ letsencrypt_contact_email }}'
    args:
      creates: '/etc/letsencrypt/live/{{domain}}/privkey.pem'

  - name: create lemmy folder
    file:
      path: '{{item.path}}'
      owner: '{{item.owner}}'
      state: directory
    with_items:
      - path: '{{lemmy_base_dir}}/lemmy/'
        owner: 'root'
      - path: '{{lemmy_base_dir}}/volumes/'
        owner: 'root'
      - path: '{{lemmy_base_dir}}/volumes/pictrs/'
        owner: '991'

  - block:
    - name:  add template files
      template:
        src: '{{item.src}}'
        dest: '{{item.dest}}'
        mode: '{{item.mode}}'
      with_items:
        - src: 'templates/docker-compose.yml'
          dest: '{{lemmy_base_dir}}/docker-compose.yml'
          mode: '0600'
        - src: 'templates/nginx.conf'
          dest: '/etc/nginx/sites-enabled/lemmy.conf'
          mode: '0644'
      vars:
        lemmy_docker_image: "dessalines/lemmy:dev"
        lemmy_docker_ui_image: "dessalines/lemmy-ui:{{ lookup('file', 'VERSION') }}"
        lemmy_port: "8536"
        lemmy_ui_port: "1235"
        pictshare_port: "8537"
        postgres_password: "{{ lookup('password', 'passwords/{{ inventory_hostname }}/postgres chars=ascii_letters,digits') }}"

    - name:  add config file (only during initial setup)
      template:
        src: 'templates/config.hjson'
        dest: '{{lemmy_base_dir}}/lemmy.hjson'
        mode: '0600'
        force: false
        owner: '1000'
        group: '1000'
      vars:
        postgres_password: "{{ lookup('password', 'passwords/{{ inventory_hostname }}/postgres chars=ascii_letters,digits') }}"
        jwt_password: "{{ lookup('password', 'passwords/{{ inventory_hostname }}/jwt chars=ascii_letters,digits') }}"

  - name: build the dev docker image
    local_action: shell cd .. && sudo docker build . -f docker/dev/Dockerfile -t lemmy:dev
    register: image_build

  - name: find hash of the new docker image
    set_fact:
      image_hash: "{{ image_build.stdout | regex_search('(?<=Successfully built )[0-9a-f]{12}') }}"

  # this does not use become so that the output file is written as non-root user and is easy to delete later
  - name: save dev docker image to file
    local_action: shell sudo docker save lemmy:dev > lemmy-dev.tar

  - name: copy dev docker image to server
    copy:
      src: lemmy-dev.tar
      dest: '{{lemmy_base_dir}}/lemmy-dev.tar'

  - name: import docker image
    docker_image:
      name: lemmy
      tag: dev
      load_path: '{{lemmy_base_dir}}/lemmy-dev.tar'
      source: load
      force_source: yes
    register: image_import

  - name: delete remote image file
    file:
      path: '{{lemmy_base_dir}}/lemmy-dev.tar'
      state: absent

  - name: delete local image file
    local_action:
      module: file
      path: lemmy-dev.tar
      state: absent

  - name: enable and start docker service
    systemd:
      name: docker
      enabled: yes
      state: started

  # cant pull here because that fails due to lemmy:dev (without dessalines/) not being on docker hub, but that shouldnt
  # be a problem for testing
  - name: start docker-compose
    docker_compose:
      project_src: '{{lemmy_base_dir}}'
      state: present
      recreate: always
      remove_orphans: yes
    ignore_errors: yes

  - name: reload nginx with new config
    shell: nginx -s reload

  - name: certbot renewal cronjob
    cron:
      special_time: daily
      name: certbot-renew-lemmy
      user: root
      job: "certbot certonly --nginx --cert-name '{{ domain }}' -d '{{ domain }}' --deploy-hook 'nginx -s reload'"
